@page "/"

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">🌍️ GeoLoc 🌍️</h1>
        <p class="lead">Welcome to geologic properties locator app.</p>
    </div>
</div>
